networkx:    full,macros,docs
fastparquet: full,macros,docs
matplotlib:  full,macros,docs
SWMM_xsections_shape_generator:  full,macros,docs
Shapely: full,gis,docs
pyproj:  full,gis,docs
Rtree:   full,gis,docs
geopandas:   full,gis,docs
pyswmm: full,macros,docs
sphinx: docs
nbsphinx:   docs
recommonmark:   docs
pydata_sphinx_theme:    docs